# Relatório de Análise I

## Importando a base de dados

In [1]:
import pandas as pd

In [8]:
pd.read_csv('dados/HIST_PAINEL_COVIDBR_19jan2021.csv', sep = ';')

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-25,9,210147125.0,0,0,0,0,NaN,NaN,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125.0,1,1,0,0,NaN,NaN,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125.0,1,0,0,0,NaN,NaN,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125.0,1,0,0,0,NaN,NaN,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125.0,2,1,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1680946,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-01-15,2,3015268.0,262928,706,4406,7,NaN,NaN,1.0
1680947,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-01-16,2,3015268.0,263756,828,4412,6,NaN,NaN,1.0
1680948,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-01-17,3,3015268.0,264227,471,4421,9,NaN,NaN,1.0
1680949,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-01-18,3,3015268.0,265274,1047,4427,6,NaN,NaN,1.0
1680950,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-01-19,3,3015268.0,265886,612,4436,9,NaN,NaN,1.0

In [9]:
dados = pd.read_csv('dados/HIST_PAINEL_COVIDBR_19jan2021.csv', sep = ';')

In [10]:
dados

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-25,9,210147125.0,0,0,0,0,NaN,NaN,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125.0,1,1,0,0,NaN,NaN,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125.0,1,0,0,0,NaN,NaN,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125.0,1,0,0,0,NaN,NaN,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125.0,2,1,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1680946,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-01-15,2,3015268.0,262928,706,4406,7,NaN,NaN,1.0
1680947,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-01-16,2,3015268.0,263756,828,4412,6,NaN,NaN,1.0
1680948,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-01-17,3,3015268.0,264227,471,4421,9,NaN,NaN,1.0
1680949,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-01-18,3,3015268.0,265274,1047,4427,6,NaN,NaN,1.0
1680950,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-01-19,3,3015268.0,265886,612,4436,9,NaN,NaN,1.0

In [11]:
type(dados)

pandas.core.frame.DataFrame

In [12]:
dados.info

<bound method DataFrame.info of                regiao estado municipio  coduf    codmun  codRegiaoSaude  \
0              Brasil    NaN       NaN     76       NaN             NaN
1              Brasil    NaN       NaN     76       NaN             NaN
2              Brasil    NaN       NaN     76       NaN             NaN
3              Brasil    NaN       NaN     76       NaN             NaN
4              Brasil    NaN       NaN     76       NaN             NaN
...               ...    ...       ...    ...       ...             ...
1680946  Centro-Oeste     DF  Brasília     53  530010.0         53001.0
1680947  Centro-Oeste     DF  Brasília     53  530010.0         53001.0
1680948  Centro-Oeste     DF  Brasília     53  530010.0         53001.0
1680949  Centro-Oeste     DF  Brasília     53  530010.0         53001.0
1680950  Centro-Oeste     DF  Brasília     53  530010.0         53001.0

          nomeRegiaoSaude        data  semanaEpi  populacaoTCU2019  \
0                     NaN  2020-02-25          9       210147125.0
1                     NaN  2020-02-26          9       210147125.0
2                     NaN  2020-02-27          9       210147125.0
3                     NaN  2020-02-28          9       210147125.0
4                     NaN  2020-02-29          9       210147125.0
...                   ...         ...        ...               ...
1680946  DISTRITO FEDERAL  2021-01-15          2         3015268.0
1680947  DISTRITO FEDERAL  2021-01-16          2         3015268.0
1680948  DISTRITO FEDERAL  2021-01-17          3         3015268.0
1680949  DISTRITO FEDERAL  2021-01-18          3         3015268.0
1680950  DISTRITO FEDERAL  2021-01-19          3         3015268.0

         casosAcumulado  casosNovos  obitosAcumulado  obitosNovos  \
0                     0           0                0            0
1                     1           1                0            0
2                     1           0                0            0
3                     1           0                0            0
4                     2           1                0            0
...                 ...         ...              ...          ...
1680946          262928         706             4406            7
1680947          263756         828             4412            6
1680948          264227         471             4421            9
1680949          265274        1047             4427            6
1680950          265886         612             4436            9

         Recuperadosnovos  emAcompanhamentoNovos  interior/metropolitana
0                     NaN                    NaN                     NaN
1                     NaN                    NaN                     NaN
2                     NaN                    NaN                     NaN
3                     NaN                    NaN                     NaN
4                     NaN                    NaN                     NaN
...                   ...                    ...                     ...
1680946               NaN                    NaN                     1.0
1680947               NaN                    NaN                     1.0
1680948               NaN                    NaN                     1.0
1680949               NaN                    NaN                     1.0
1680950               NaN                    NaN                     1.0

[1680951 rows x 17 columns]>

In [13]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680951 entries, 0 to 1680950
Data columns (total 17 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   regiao                  1680951 non-null  object
 1   estado                  1680619 non-null  object
 2   municipio               1665430 non-null  object
 3   coduf                   1680951 non-null  int64
 4   codmun                  1671709 non-null  float64
 5   codRegiaoSaude          1665430 non-null  float64
 6   nomeRegiaoSaude         1665430 non-null  object
 7   data                    1680951 non-null  object
 8   semanaEpi               1680951 non-null  int64
 9   populacaoTCU2019        1674672 non-null  float64
 10  casosAcumulado          1680951 non-null  int64
 11  casosNovos              1680951 non-null  int64
 12  obitosAcumulado         1680951 non-null  int64
 13  obitosNovos             1680951 non-null  int64
 14  Recuperadosnovos        278 non-null      float64
 15  emAcompanhamentoNovos   278 non-null      float64
 16  interior/metropolitana  1665430 non-null  float64
dtypes: float64(6), int64(6), object(5)
memory usage: 218.0+ MB

In [15]:
dados.head()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-25,9,210147125.0,0,0,0,0,NaN,NaN,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125.0,1,1,0,0,NaN,NaN,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125.0,1,0,0,0,NaN,NaN,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125.0,1,0,0,0,NaN,NaN,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125.0,2,1,0,0,NaN,NaN,NaN

## Informações gerais sobre a Base de Dados

In [17]:
dados.dtypes

regiao                     object
estado                     object
municipio                  object
coduf                       int64
codmun                    float64
codRegiaoSaude            float64
nomeRegiaoSaude            object
data                       object
semanaEpi                   int64
populacaoTCU2019          float64
casosAcumulado              int64
casosNovos                  int64
obitosAcumulado             int64
obitosNovos                 int64
Recuperadosnovos          float64
emAcompanhamentoNovos     float64
interior/metropolitana    float64
dtype: object

In [19]:
pd.DataFrame(dados.dtypes, columns = ['Tipos de Dados'])

                       Tipos de Dados
regiao                         object
estado                         object
municipio                      object
coduf                           int64
codmun                        float64
codRegiaoSaude                float64
nomeRegiaoSaude                object
data                           object
semanaEpi                       int64
populacaoTCU2019              float64
casosAcumulado                  int64
casosNovos                      int64
obitosAcumulado                 int64
obitosNovos                     int64
Recuperadosnovos              float64
emAcompanhamentoNovos         float64
interior/metropolitana        float64

In [20]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipos de Dados'])

In [21]:
tipos_de_dados.columns.name = 'Variáveis'

In [22]:
tipos_de_dados

Variáveis              Tipos de Dados
regiao                         object
estado                         object
municipio                      object
coduf                           int64
codmun                        float64
codRegiaoSaude                float64
nomeRegiaoSaude                object
data                           object
semanaEpi                       int64
populacaoTCU2019              float64
casosAcumulado                  int64
casosNovos                      int64
obitosAcumulado                 int64
obitosNovos                     int64
Recuperadosnovos              float64
emAcompanhamentoNovos         float64
interior/metropolitana        float64

In [23]:
dados.shape

(1680951, 17)

In [24]:
dados.shape[0]

1680951

In [25]:
dados.shape[1]

17

In [26]:
print('A base de Dados apresenta {} registros (casos) e {} variáveis'.format(dados.shape[0], dados.shape[1]))

A base de Dados apresenta 1680951 registros (casos) e 17 variáveis